@page
@model Biblioteca.Pages.tomar_prestado.Tomar_prestadoModel
@{
}



<div class="form-group">
    <label>Cedula</label>
    <select for="ex1" class="form-control">
    </select>
</div>
<div>
    Digite fecha limite de prestamo
</div>
<div>
    <label ></label>
    <input type="date" class="form-contro" value="" name="usuario" />
</div>


<br />
    <button type="button" class="btn btn-success">Prestar</button>
    <a asp-page="./Libros" class="btn btn-dark">Lista de libros</a>
