@page
@model Biblioteca.Pages.Prestamos.prestamodetalleModel
@{
}

<div>
    Prestamo no.@Model.prestamo.ID_prestamos
</div>
<div>
    libro: @Model.libros.Titulo
</div>

<div>
    usuario: @Model.prestamo.usuario
</div>
<div>
    fecha de prestamo: @Model.prestamo.Fecha_prestamo
</div>
<div>
    fecha de regreso: @Model.prestamo.Fecha_devolucion
</div>




@if (Model.prestamo.ID_Estado != 2)
{
<form method="post">

    <input type="hidden" asp-for="prestamo.ID_prestamos" />
    <input type="hidden" asp-for="prestamo.ID_Estado" value=2 />
    <input type="hidden" asp-for="prestamo.ID_libro" />
    <input type="hidden" asp-for="prestamo.ID_usuario" />
    <input type="hidden" asp-for="prestamo.Nombre" />
    <input type="hidden" asp-for="prestamo.Titulo" />
    <input type="hidden" asp-for="prestamo.usuario" />
    <input type="hidden" asp-for="prestamo.ID_usuario" />
    <input type="hidden" asp-for="prestamo.estado" />


    <input type="hidden" asp-for="usuario.ID_usuario" />
    <input type="hidden" asp-for="usuario.Cedula" />
    <input type="hidden" asp-for="usuario.Nombre" />



    <input type="hidden" asp-for="libros.ID_libro" />
    <input type="hidden" asp-for="libros.ID_estado" value=2 />
    <input type="hidden" asp-for="libros.Paginas" />
    <input type="hidden" asp-for="libros.pais" />
    <input type="hidden" asp-for="libros.Publicación" />
    <input type="hidden" asp-for="libros.Resumen_del_documento" />
    <input type="hidden" asp-for="libros.ID_libro" />
    <input type="hidden" asp-for="libros.Titulo" />
    <input type="hidden" asp-for="libros.Serie" />
    
    <input type="hidden" asp-for="libros.Idioma" />




    @if (Model.usuario.tardanzas == 1) 
    {
        <input type="hidden" asp-for="usuario.tardanzas" value=1 />
    }
    @if (DateTime.Compare(DateTime.Now, Model.prestamo.Fecha_devolucion) > 0)
    {
        <div>
            Entrega tarde
        </div>
        <input type="hidden" asp-for="usuario.tardanzas" value=1 />
    }





    <button type="submit" class="btn btn-primary">devuelto</button>
</form>

    <br />
    <br />
}
<a asp-page="./Prestamos" class="btn btn-dark"> Volver a la Lista de libros</a>


