@page
@model Biblioteca.Pages.Usuarios.anadiruModel
@{
}
<h1>añadir usuario</h1>
<form method="post">
    <input type="hidden" nameasp-for="libros.ID_libro" />
    <div class="form-group">
        <label>Nombre</label>
        <input class="form-control" />
    </div>
    <div class="form-group">
        <label>cedula</label>
        <input class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
    <a asp-page="./Usuario" class="btn btn-dark">Lista de usuarios</a>
</form>