@page
@model Biblioteca.TardanzasModel
@{
    ViewData["Title"] = "Tardanzas";
}

<h1>Tardanzas de @Model.usuario.Nombre</h1>

<div>
    tardanzas: @Model.usuario.tardanzas
</div>


<br />
<br />
@if (@Model.usuario.tardanzas > 0)
{
    <button class="btn btn-dark">pagar</button>
    <input type="number" id="quantity" name="quantity" min="1" max="3">

}
<br />
<br />
<a asp-page="./Usuario" class="btn btn-dark">Todos los usuarios</a>
