@page
@model Biblioteca.TardanzasModel
@{
    ViewData["Title"] = "Tardanzas";
}

<h1>Tardanzas de @Model.usuario.Nombre</h1>

<div>
    tardanzas: @Model.usuario.tardanzas
</div>


<br />
<br />
<form method="post">
    <input type="hidden" asp-for="usuario.ID_usuario" />
    @if (@Model.usuario.tardanzas > 0)
    {
        <button type="submit" class="btn btn-dark">pagar</button>
        <input asp-for="usuario.tardanzas"   min="0" max=@Model.usuario.tardanzas/>

    }
    <br />
    <br />
    <a asp-page="./Usuario" class="btn btn-dark">Todos los usuarios</a>
</form>
