@page
@model Biblioteca.Pages.Libros.anadirModel
@{
}
<h1>añadir libro</h1>
<form method="post">

    <input type="hidden" nameasp-for="libros.ID_libro" />
    <div class="form-group">
        <label>Titulo</label>
        <input class="form-control" />
    </div>
    <div class="form-group">
        <label>pais</label>
        <select class="form-control" asp-for="libros.pais " asp-items="Model.paises">
        </select>

    </div>
    <div class="form-group">
        <label>publicacion</label>
        <input class="form-control" />
    </div>
    <div class="form-group">
        <label>Idioma</label>
        <select class="form-control" asp-for="libros.Idioma" asp-items="Model.idiomas"></select>
    </div>
    <div class="form-group">
        <label>Notas</label>
        <input class="form-control" />
    </div>
    <div class="form-group">
        <label>Paginas</label>
        <input class="form-control" />
    </div>
    <div class="form-group">
        <label>Publicación</label>
        <input class="form-control" />
    </div>
    <div class="form-group">
        <label>Resumen_del_documento</label>
        <input class="form-control" />
    </div>
    <div class="form-group">
        <label>Serie</label>
        <input class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Añadir</button>
    <a asp-page="./Libros" class="btn btn-dark">Volver a lista de libros</a>

</form>