@page "{libroid:int?}"
@model Biblioteca.Pages.Libros.LibroseditModel
@{
}
<h2>editar @Model.libros.Titulo</h2>
<form method="post">
    <input type="hidden" asp-for="libros.ID_libro" />
    <input type="hidden" asp-for="libros.ID_estado" />
    <div class="form-group">
        <label asp-for="libros.Titulo"></label>
        <input asp-for="libros.Titulo" class="form-control" />
        <span class="text-danger" asp-validation-for="libros.Titulo"></span>

    </div>
    <div class="form-group">
        <label asp-for="libros.pais">país</label>
        <select class="form-control" asp-for="libros.pais " asp-items="Model.paises">
        </select>

    </div>

    <div class="form-group">
        <label asp-for="libros.Idioma"></label>
        <select class="form-control" asp-for="libros.Idioma" asp-items="Model.idiomas"></select>
    </div>
    <div class="form-group">
        <label asp-for="libros.Notas"></label>
        <input asp-for="libros.Notas" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="libros.Paginas"></label>
        <input asp-for="libros.Paginas" class="form-control" />
    </div>
    <div class="form-group">
        <label>Año de publicación</label>
        <input asp-for="libros.Publicación" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="libros.Resumen_del_documento"></label>
        <input asp-for="libros.Resumen_del_documento" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="libros.Serie">Autor</label>
        <input asp-for="libros.Serie" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
<a asp-page="./Libros" class="btn btn-dark">Volver a lista de libros</a>










